@import url('https://fonts.googleapis.com/css2?family=Andada+Pro&family=Poppins:wght@100&display=swap');
* {
  transition: all 500ms ease-out;
  -webkit-transition: all 500ms ease-out;
}

html,
body,
section,
.page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: all 1s cubic-bezier(0.5, -0.005, 0.2, 1) !important;
  -webkit-transition: all 1s cubic-bezier(0.5, -0.005, 0.2, 1) !important;
  color: #fff;
  background: #374046;
  overflow: hidden;
}

section {
  height: 500%;
}
ul,li{
  list-style: none;
}
.page {
  position: absolute;
}

#p1 {
  top: 0;
}

#p2 {
  top: 100%;
  /* background: #42f572; */
  background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
 background-blend-mode: multiply,multiply;
}

#p3 {
  top: 200%;
  background: #f55742;
}

#p4 {
  top: 300%;
  background: #f54278;
}
#p5 {
  top: 400%;
  background: #d442f5;
}
ul {
  position: fixed;
  z-index: 1;
}
#t1:target .page#p1 {
  transform: translateY(0);
}
#t2:target .page#p2 {
  transform: translateY(-100%);
}
#t3:target .page#p3 {
  transform: translateY(-200%);
}
#t4:target .page#p4 {
  transform: translateY(-300%);
}
#t5:target .page#p5 {
  transform: translateY(-400%);
}

#t2:target .page#p1,
#t3:target .page#p1,
#t4:target .page#p1
 {
  background: black;
}

#t2:target .page#p1 .page-content,
#t3:target .page#p1 .page-content,
#t4:target .page#p1 .page-content {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}

.icon {
  color: #fff;
  font-size: 32px;
  display: block;
}

ul .icon:hover {
  opacity: 0.6;
}
#t2:target ul .icon,
#t3:target ul .icon,
#t4:target ul .icon {
  transform: scale(0.6);
  transition-delay: 0.25s;
}

#t2:target #dos {
  transform: scale(1.2) !important;
}

#t3:target #tres {
  transform: scale(1.2) !important;
}

#t4:target #cuatro {
  transform: scale(1.2) !important;
}
#t5:target #cer {
  transform: scale(1.2) !important;
}
#t5:target label {
  transform: scale(1.2) !important;
}

ul {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  height: 100%;
  width: 12%;
  padding: 0;
  text-align: center;
  box-shadow: 5px 5px 15px 10px rgba(255,255,255,0.15);
}

ul li {
  margin: 20px 0;
}

section ul a {
  text-decoration: none;
  font-family: open sans, sans-serif;
  color: #ffff;
  opacity: 0;
}
section ul a:hover{
  opacity: 1;
}
.page .page-content {
  position: absolute;
  display: flex;
  align-items: center;
  left: 12%;
  padding: 0 2rem;
  background: url(bg-1.jpeg)no-repeat;
  background-position: center;
  background-size: cover;
  width: 90%;
  height: 100vh;
  margin: auto;
  transform: translateX(400%);
  line-height: 1.3;
}

.page#p1 .page-content {
  height: 100vh;
}

.page#p1 .page-content {
  transform: translateY(0) !important;
}

#t2:target .page#p2 .about {
  transform: translateY(0) !important;
  transition-delay: 1s;
}

#t3:target .page#p3 .exp-content {
  transform: translateY(0) !important;
  transition-delay: 1s;
}

#t4:target .page#p4 .education-content {
  transform: translateY(0) !important;
  transition-delay: 1s;
}
#t5:target .page#p5 .certificate-content {
  transform: translateY(0) !important;
  transition-delay: 1s;
}

.intro {
  padding: 2rem 1rem;
  margin-right: 3rem;
}
.intro h3 {
  font-size: 1.2rem;
  color: yellow;
  font-family: "Raleway", sans-serif;
}
.intro h3 span {
  font-size: 3rem;
  color: black;
  padding-top: 0.5rem;
  /* font-family: open sans, sans-serif; */
  font-family: "Raleway", sans-serif;
   
}
.text {
  display: block;
  margin-top: 1.5rem;
}
.text strong span {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
}

.btn1 {
  display: flex;
  position: relative;
  width: 500px;
  height: 200px;
  margin-top: 2rem;
}
.btn1 a button{
  padding: 8px 10px;
  background-color: #192a56;
  color: #fff;
  border: none;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
}

/* about section start form here */

.page .about {
  position: absolute;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  padding: 2rem 2rem;
  left: 12%;
  width: 80%;
  height: 100vh;
  margin: auto;
  transform: translateX(400%);
  line-height: 1.3;
}
.home-content{
  position: relative;
}
.page .exp-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
  left: 12%;
  width: 90%;
  height: 100vh;
  margin: auto;
  transform: translateX(300%);
  line-height: 1.3;
}
.exp-content .content {
  line-height: 20px;
  width: 100%;
}


.page .education-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
  width: 90%;
  left: 12%;
  height: 100vh;
  margin: auto;
  transform: translateX(200%);
  line-height: 1.3;
}

.education-content .heading h1{
  margin-bottom: 2rem;
}
/* .education-content .content ul{
  width: 80%;
} */

.education-content .content ul li a{
  opacity: 1;
}
.education-content .content span{
  color: rgb(219, 218, 218);
}


.contact{
  display: flex;
  align-items: center;
  bottom: 0;  
  position: fixed;
  left: 50%;
  flex-direction: column;
  /* width: 100%; */
}
.contact .heading{
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact .heading h6{
  font-size: 15px;
  font-weight: lighter;
  line-height: 0px;
  font-family: 'Poppins', sans-serif;

}

.contact .social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.contact .social-icon i{
  padding-right: 1rem;
  font-size: 20px;
  color:whitesmoke;
  padding: 10px 10px;
}
/* project section start here */
.page .project{
  position: absolute;
  left: 15%;
  width: 80%;
  height: 80vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.page .slide{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.page .slide .content{
  height: 20rem;
  width: 20rem;
  padding-right: 20px;
}

.page .slide .image{
  height: 22rem;
  width: 30rem;
}
.page .slide .image img{
  width: 100%;
  height: 100%;
}
.btn{
  background-color: #192a56;
  color: #fff;
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

@media (max-width: 632px) {
  ul{
    width: 20%;
  }
  ul a{
    font-size: 10px;
  }
  ul li{
    margin: 10px 0;
  }
  .contact{
    width: 100%;
    left: 5%;
  }
  .page-content .home-content .intro span{
    font-size: 20px;
  }
  .page-content .home-content .intro{
    margin-bottom: 0.5rem;
    width: 100%;
  }
  .page-content .home-content .text{
    width: 100%;
    margin-bottom: 0.5rem;
  }
  .page-content .home-content .text span{
    font-size: 18px;
  }

  .home-content{
    top: 10%;
  }
  .icon{
    font-size: 25px;
  }
.page .page-content {
  left: 20%;
}

.page .education-content{
  width: 70%;
  margin-left: 10px;
}

.page .education-content .heading h1{
  font-size: 18px;
}
.page .education-content .content h3{
  font-size: 12px;
}
.page .education-content .content span{
  font-size: 10px;
}
.btn1 a button{
  padding: 5px 8px;
  font-size: 10px;
}
.contact .heading h6{
  font-size: 10px;
}
.contact .social-icon a i{
  font-size: 15px;
}
.page .page-content{
  background: url(bg.jpeg)no-repeat;
  background-position: center;
  background-size: cover;
}
.page .project{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  border: 1px solid white;
  left: 20%;
  bottom: 10%;
}
.page .slide{
  display: flex;
  flex-direction: column;
  border: 1px solid white;
}
.page .slide .content{
  position: relative;
  left: 10%;
  font-size: 10px;
  width: 100%;
  height: 200px;
}
.page .project .slide .image{
  width: 15rem;
  height: 10rem;
}
.page .project .slide .image img{
  width: 100%;
  height: 100%;
}
.btn{
   font-size: 10px;
   width: 80px;
   height: 30px;
}
.blog-slider{
  position: relative;
  width: 50%;
  left: 20%;
  height: 50%;
}
.about-row{
  display: flex;
  position: absolute;
  flex-direction: column;
  margin-left: 12%;
  width: 80%;
}
.about-row .progress-bar{
  position: relative;
  width: 100%;
  border: 1px solid #fff;
  height: 50%;
  font-size: 80%;
}
.about-row .personal-info{
  position: relative;
  width: 100%;
  height: 50%;
  font-size: 70%;
  border: 1px solid #fff;
}
.about-row .progress-bar .progress h3{
  font-size: .5rem;
}

}


.about-row{
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 4%;
  left: 15%;
  height: 80%;
  width: 80%;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.4);
}
.about-row .progress-bar{
  flex: 1 1 10rem;
  padding: .5rem 1rem;
  margin-right: 2rem;
}
.about-row .progress-bar .progress h3{
  display: flex;
  justify-content: space-around;
  color: #fff;
  font-size: 1rem;
}
.about-row .progress-bar .progress .bar{
  height: .5rem ;
  width: 100%;
  border: .2rem solid red;
  border-radius: 5rem;
  margin: .5rem 0;
}
.about-row .progress-bar .progress .bar span{
  display: block;
  background-color: red;
  border-radius: 5rem;
  height: 100%;
}
.about-row .progress-bar .progress:nth-child(2) .bar span{
  width: 95%;
}
.about-row .progress-bar .progress:nth-child(3) .bar span{
  width: 85%;
}
.about-row .progress-bar .progress:nth-child(4) .bar span{
  width: 60%;
}
.about-row .progress-bar .progress:nth-child(5) .bar span{
  width: 40%;
}

.about-row .personal-info{
  flex-wrap: 1 1 10rem;
  padding: .5rem 1rem;
}
.about-row .personal-info .paragraph{
  font-size: 90%;
}


